# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/AikaHelp_ByGrifinory/FileContentIndex/505cda5c-a184-46f7-ac8a-8578d9c0ba11.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/60093862-68ea-40e9-981b-8d425b87427d.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/513b82e8-0ebf-4d79-8a36-0232bf374d93.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/bf8ac18d-efb2-4dad-8da7-54ad043e6179.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/e3fbb0dc-7e4b-4f82-a29b-6181cc9b5c97.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/50301d97-6839-49e5-a926-6f8e8d656097.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/e3fbb0dc-7e4b-4f82-a29b-6181cc9b5c97.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/e3fbb0dc-7e4b-4f82-a29b-6181cc9b5c97.vsidx
.vs/AikaHelp_ByGrifinory/FileContentIndex/3be6dde6-33f1-4007-8e34-9d38b2ed1e79.vsidx
